@font-face {
    font-family: 'FPL Neu';
    src: url('fonts/FPLNeu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FPL Neu';
    src: url('fonts/FPLNeu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --background: #DAE0DA;
  --black: #1C131B;
  --hilight: #FF00E5;
}

html{
  background-color: var(--background);
  cursor:crosshair;

}


header{
  position: fixed;
  left:33%;
  top:1%;
  padding-bottom: 1.8%;
  border-bottom: 1.5px solid var(--black);
  width:66.5%;
  height: 2.5%;
  display: flex;
justify-content:space-between;}

header a{
  font-family:"FPL Neu";
  font-style:normal;
  color:var(--hilight);
  font-size: 1.1em;

}

.projets{
  position: absolute;
  right: 0.5%;
  top: 4.2%;
  height: 95.8%;
  width: 66.5%;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.projets::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.projets details{
  position: relative;
  margin-top: 1px;
  margin-left: 41.5%;
  margin-right: 0px;
  text-align: right;
  color : var(--black);
  font-family: "FPL Neu";
  font-size: 1.1em;
  margin-bottom: 0.5em;
  height: 1.8vh;
  width: 58%;
  transition: height 0.2s ease;
  transition: font-size 0.2s ease;
}

.projets details:hover{
  cursor: pointer;
}

.projet details:hover summary{
  cursor: pointer;

}
.projets details summary i{
  color : var(--hilight);

}
.projets details summary::marker{
content:"";
}

.projets details[open] {
   height: auto;
   font-size: 1.6em;
   line-height: 105%;
 }
 .projets details[open] summary{
    font-size: 2.9em;
    line-height: 103%;

  }
.projets details > .slideshow{
  position: fixed;
  left: 3%;
  top: 5%;

  width: 40vw;
  opacity: 0%;
  transition: opacity 0.6s ease;
}
.projets details .slideshow + .slideshow{
  position: fixed;
  left: 3%;
  top: 52.5%;

  width: 40vw;
  opacity: 0%;
  transition: opacity 0.6s ease;
}

.projets details[open] > .slideshow{

  opacity: 100%;

}

/* ------------------------------------- SLIDESHOW --------------------------------------------------------------------*/
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.slideshow {
	position: relative;
	overflow: hidden;
	height: 46%; /* Or set a fixed height */
}

/* SLIDER */

.slideshow .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
}

/* SLIDES */

.slideshow .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
  transition: opacity 0.3s ease;
  opacity: 100%;

}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.slideshow .prevNext {
	position: absolute;
	z-index: 1;
	top: 0%;
	width: 100%;
	height: 100%;
}

.slideshow .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
  opacity: 0%;
}

.slideshow .prevNext a {
	position: absolute;
	width:       60px;
	height:      100%;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;

	left: 0;
}
.slideshow .prevNext a:hover {
  cursor:pointer;
}
.slideshow .prevNext a+a {
	left: auto;
	right: 0;
}


.slideshow >s:target ~ .prevNext >* {      visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

.slideshow >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1b:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2b:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3b:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4b:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

#s1b:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2b:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3b:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4b:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


.slideshow{
	color: #fff;
	text-align: center;
  object-fit: cover;
}
.slideshow:hover{
  cursor: crosshair;
}


/* ------------------------------------- SLIDESHOW --------------------------------------------------------------------*/
