
:root {
  --background: #DAE0DA;
  --black: #1C131B;
  --hilight: #FF00E5;
}

html{
  background-color: var(--background);
  cursor:crosshair;
  scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 10+ */}
-webkit-mask-image: -webkit-gradient(linear, left 20%, left bottom, from(var(--black)), to(rgba(0,0,0,0)));
}

html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

header{
  z-index: 13;
  position: fixed;
  left:33%;
  top:1%;
  padding-bottom: 0.3%;
  border-bottom: 1.5px solid var(--black);
  width:66.5%;
  height: 2.5%;
  display: flex;
justify-content:space-between;}

header a{
  font-family:serif;
  font-style:normal;
  color:var(--hilight);
  font-size: 1.1em;
  text-decoration: none;
}

.projets{
  position: fixed;
  right: 0.5%;
  top: 4.2%;
  height: 95.8%;
  width: 66.5%;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.projets::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.projets details{
  position: relative;
  margin-top: 1px;
  margin-left: 58%;
  margin-right: 0px;
  text-align: right;
  color : var(--black);
  font-family: serif;
  font-size: 1.1em;
  margin-bottom: 0.5em;
  height: 1.8vh;
  width: 42%;
  transition: height 0.2s ease;
  transition: font-size 0.2s ease;
}

.projets details:hover{
  cursor: pointer;
}


.projets details summary i{
  color : var(--hilight);

}

.projets details summary::marker{
content:"";
}

.projets details[open] {
   height: auto;
   text-align: left;
   font-size: 1.7em;
   line-height: 110%;
 }
 .projets details[open] summary{
    font-size: 1.75em;
    line-height: 105%;

  }

.projets details .images{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 38%;
  top: 5%;
  right: 29%;
  overflow-y: scroll;
  height: 94%;  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.projets details .images img{
  position: relative;
  margin-top: 1%;
  flex: auto;
  width: auto;
  height: auto;
}

.projets details .images::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}




p{
  position: absolute;
  top: 1%;
  left:1%;
  margin-top: 0px;
  padding: 0.5%;
  width:73%;
  height: auto;
  overflow-y: scroll;
  overflow-x: none;
  text-align: center;
  line-height: 90%;
  color: var(--black);
  font-family:serif;
  font-size: 12.3em;
  hyphens: auto;
  scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 10+ */   }

p::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

h4{
  color: var(--black);
  font-weight: normal;
  font-family:serif;
  font-size: 0.8em;
  margin: 0px;
  position: fixed;
  bottom: 1%;
  right:1%;
}
h4{
  color: var(--black);
  font-weight: normal;
  font-family:serif;
  font-size: 0.8em;
  margin: 0px;
  position: fixed;
  bottom: 1%;
  right:1%;
}
/* ------------------------------------- PHONE --------------------------------------------------------------------*/
@media screen and (max-width: 500px) {
  header{
    z-index: 13;
    position: fixed;
    left:1%;
    top:1%;
    padding-bottom: 0%;
    border-bottom: 1.5px solid var(--black);
    width:98%;
    height:auto;
    display: flex;
  justify-content:space-between;}

  header a{
    font-family:serif;
    font-style:normal;
    color:var(--hilight);
    font-size: 0.8em;
    text-decoration: none;
  }

  .projets{
    position: fixed;
    right: 1%;
    top: 3%;
    height: 95.8%;
    width: 98%;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .projets::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }
  .projets details{
    position: relative;
    margin: 0px;
    margin-top: 1vh;
    text-align: center;
    color : var(--black);
    font-family: serif;
    font-size: 0.95em;
    margin-bottom: 0.5em;
    height: 1.8vh;
    width: 100%;
    transition: height 0.2s ease;
    transition: font-size 0.2s ease;
  }



  .projets details summary i{
    color : var(--hilight);

  }

  .projets details summary::marker{
  content:"";
  }

  .projets details[open] {
     height: auto;
     text-align: center;
     font-size: 1.2em;
     line-height: 110%;
   }
   .projets details[open] summary{
      font-size: 1.2em;
      line-height: 105%;

    }

  .projets details .images{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0%;
    margin-top: 0.5%;
    overflow-y: scroll;
    height: 94%;  scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .projets details .images img{
    position: relative;
    margin-top: 1%;
    flex: auto;
    width: auto;
    height: auto;
  }

  .projets details .images::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }




  p{
    display: none;
    position: absolute;
    top: 1%;
    left:1%;
    margin-top: 0px;
    padding: 0.5%;
    width:73%;
    height: auto;
    overflow-y: scroll;
    overflow-x: none;
    text-align: center;
    line-height: 90%;
    color: var(--black);
    font-family:serif;
    font-size: 12.3em;
    hyphens: auto;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */   }

  p::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }

  h4{
    background-color: var(--background);
    color: var(--black);
    font-weight: normal;
    font-family:serif;
    font-size: 0.7em;
    margin: 0px;
    padding-top: 0.4em;
    padding-left: 1em;
    position: fixed;
    bottom: 1%;
    width: 100%;
    text-align: center;
  }

}
